<div class="row mb-3">
  <div class="col-md-6">
    <div class="card mt-3">
        <div class="card-header">
            SELECT FIRST DATE
        </div>
        <div class="card-body">
            <input (change)="fetchPicture($event)" type="date" name="date" id="1">
            <div *ngIf="date1 && !imageUrl1" class="alert alert-warning mt-2" role="alert">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> &nbsp; No image found for this day.
              </div>
            <div class="card bg-light text-white mt-2" *ngIf="imageUrl1">
                <img class="card-img" [src]="imageUrl1">
            </div>
        </div>
      </div>
    </div>

  <div class="col-md-6">
    <div class="card mt-3">
      <div class="card-header">
        SELECT SECOND DATE
      </div>
      <div class="card-body">
          <input (change)="fetchPicture($event)" type="date" name="date" id="2"/>
          <div *ngIf="date2 && !imageUrl2" class="alert alert-warning mt-2" role="alert">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i> &nbsp; No image found for this day.
            </div>
          <div class="card bg-light text-white mt-2" *ngIf="imageUrl2">
              <img class="card-img" [src]="imageUrl2">
          </div>
      </div>
    </div>

  </div>
</div>
