<h3>Add exercise</h3>
<form #addExeForm="ngForm" novalidate>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="exerciseName" class="form-label">Exercise name:</label>
        <input type="text" class="form-control" id="exerciseName" [(ngModel)]="exe.name" name="name">
        <!--<h5>{{exe.name}}</h5>-->
      </div>
    </div>
    <div class="col-md-10">
      <label for="customRange2">Number of sets: {{numberOfSets}}</label>
      <input type="range" class="custom-range" min="0" max="20" id="customRange2" (mouseup)="changeNumberOfSets($event)" (touchend)="changeNumberOfSets($event)">
    </div>
  </div>
  <div class="row" *ngIf="this.exe.sets.length">
    <div class="col-md-5 offset-2"><h5>Reps</h5></div>
    <div class="col-md-5"><h5>Weight</h5></div>

  </div>

  <!--&lt;!&ndash;FOR TESTING Constraint validation API&ndash;&gt;-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<p>-->
        <!--<label for="mail">-->
          <!--<span>Please enter an email address:</span>-->
          <!--<input (input)="check($event)" type="number" id="mail" name="mail">-->
          <!--<span class="error" aria-live="polite"></span>-->
        <!--</label>-->
      <!--</p>-->
    <!--</div>-->
  <!--</div>-->


  <app-add-set *ngFor="let set of exe.sets; let i = index" [setIndex]="i"
               (setUpdated)="onSetUpdated($event)" (setValidityChange)="onSetValidityChange($event);" #setInputs></app-add-set>
  <button *ngIf="this.exe.sets.length && this.entireFormValid" class="btn btn-primary" (click)="onSubmit(); addExeForm.reset()">Add exercise</button>
  <div *ngIf="!this.entireFormValid" class="alert alert-danger" role="alert">
    Please fix form errors before adding exercise
  </div>
</form>

