<h3>Add exercise</h3>
<form #addExeForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="exerciseName" class="form-label">Exercise name:</label>
        <input type="text" class="form-control" id="exerciseName" [(ngModel)]="exe.name" name="name">
        <h5>{{exe.name}}</h5>
      </div>
    </div>
    <div class="col-md-1 align-self-center">
      <button class="btn btn-outline-primary" (click)="decreaseSets()"> - </button>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="setNumber" class="form-label">Number of sets:</label>
        <input type="text" class="form-control" id="setNumber" [(ngModel)]="numberOfSets" name="numberOfSets" (input)="checkSets()">
      </div>
      <h5>{{numberOfSets}}</h5>
    </div>
    <div class="col-md-1 align-self-center">
      <button class="btn btn-outline-primary" (click)="increaseSets()"> + </button>
    </div>
  </div>
  <app-add-set></app-add-set>
</form>

