<div class="row">
  <div class="col md-12">
    <div *ngIf="serverErrorMessage" class="alert alert-warning" role="alert">
      <h5>{{serverErrorMessage}}</h5>
      There was a server problem. Please try again.
    </div>
    <div class="card mt-3">
      <div class="card-header">
      SELECT DATE
      </div>
      <div class="card-body">
        <input (change)="dateSelected($event)" type="date" name="date"/>
      <div *ngIf="!date" class="alert alert-primary mt-3" role="alert">
      TIP: Select the date to begin
    </div>
      </div>
    </div>
  
    <div *ngIf='date'>
      <app-prog-pic [picDate]="this.date"></app-prog-pic>   
      <app-add-exe [AddExeDate]='this.date'></app-add-exe>
      <app-exe-detail *ngFor="let exe of exes; let i=index" [detailedExe]="exe" [ExeIndex]="i" (deleteExe)="onDeleteExe($event)"></app-exe-detail>
    </div>
  </div>
</div>
