<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="save">Save The Day<span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Analyze
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="analyze/compare-pics">Compare Progress Pictures</a>
                <a class="dropdown-item" routerLink="analyze/analyze-exe">Analyze Exercise</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="signup">Sign up<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="login">Login<span class="sr-only"></span></a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
