<h3>Add today's progress picture!</h3>
<!-- <img [src]="imageUrl" alt=""> -->

<div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card bg-light text-white" id="preview">
                    <img [style.width]="imageWidth" [style.height]="imageHeight" class="card-img p-sm-2 " [src]="imageUrl" alt="Card image">
                </div>
    </div>
</div>



<input type="file" #filePicker style="display:none" (change)="onImagePicked($event)">
<button type="button" class="btn btn-outline-dark mt-3" (click)="filePicker.click()">Upload a picture</button>
