<h3>Add today's progress picture!</h3>
<!-- <img [src]="imageUrl" alt=""> -->

<div *ngIf="imageUrl && imageUrl!==null" class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card bg-light text-white" id="preview">
                    <img [style.width]="imageWidth" [style.height]="imageHeight" class="card-img p-sm-2 " [src]="imageUrl" alt="Card image">
                </div>
    </div>
</div>



<input type="file" #filePicker style="display:none" (change)="onImagePicked($event)">
<div class="mt-3">
    <button type="button" class="btn btn-outline-dark mx-2" (click)="filePicker.click()">Select a picture</button>
    <button type="button" class="btn btn-outline-primary mx-2" (click)="uploadImage()">Use this picture for {{date}}</button>
</div>


