<div class="card mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6">{{exe.name}}</div>
        <div class="col-sm-6"><span class="delete-icon fa fa-trash-alt offset-11" (click)="onDeleteExe()"></span></div>
    </div>
    </div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Sets:</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let rep of exe.sets; let i=index"> <span class="badge badge-secondary">{{i + 1}}</span> Reps: {{rep.reps}} Weight: {{rep.weight}}</li>
    </ul>
  </div>
</div>
