<div class="card">
    <h5 class="card-header">Bench Press</h5>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Sets:</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <span class="badge badge-secondary">1</span> Reps: 15 Weight: 50</li>
      <li class="list-group-item"> <span class="badge badge-secondary">2</span> Reps: 15 Weight: 50</li>
      <li class="list-group-item"> <span class="badge badge-secondary">3</span> Reps: 15 Weight: 50</li>
    </ul>
  </div>
</div>
