<div class="row">
  <div class="col-md-2"><h5>Set <span class="badge badge-secondary">1</span></h5>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label for="weight" class="form-label">Weight</label>
      <input type="text" class="form-control" id="weight" name="weight">
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label for="reps" class="form-label">Reps</label>
      <input type="text" class="form-control" id="reps" name="reps">
    </div>
  </div>
</div>

