<!--<input type="text" class="form-control is-valid">-->
<!--<div class="valid-feedback">-->
  <!--Looks good!-->
<!--</div>-->

<div class="row">
  <div class="col-md-2 align-self-center pb-1"><h5><span class="badge badge-secondary">{{index+1}}</span></h5>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text changeSetButton" (click)="onIncreaseReps()">+</span>
        </div>
        <input type="number" class="form-control" [class.is-invalid]="!repsValid" id="reps" name="reps" placeholder="reps" (input)="onUserInput({reps: repsInput.value}); checkRepsValidity($event)" #repsInput value="{{this.reps}}">
        <div class="input-group-append">
          <span class="input-group-text changeSetButton" (click)="onDecreaseReps()">-</span>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text changeSetButton" (click)="onIncreaseWeight()">+</span>
        </div>
        <input type="number" class="form-control" id="weight" name="weight" [class.is-invalid]="!weightValid" placeholder="weight" (input)="onUserInput({weight: weightInput.value}); checkWeightValidity($event)" #weightInput value="{{this.weight}}">
        <div class="input-group-append">
          <span class="input-group-text changeSetButton" (click)="onDecreaseWeight()">-</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5 offset-2">
    <div *ngIf="!repsValid" class="alert alert-danger" role="alert">
      {{repsAlertText}}
    </div>
  </div>
  <div class="col-md-5">
    <div *ngIf="!weightValid" class="alert alert-danger" role="alert">
      {{weightAlertText}}
    </div>
  </div>
</div>

