$main-grey: #0D0E12;
$secondary-grey: #1C1C20;
$white: #f2f2f0;
$orange: #ff5e3a;



///////////////////////////////////////////////////////////////////////////////////
//NAVBAR STYLES
///////////////////////////////////////////////////////////////////////////////////

.navbar {
    background-color:$main-grey !important;
    border-bottom: 0.2rem solid $orange;
}

body {
    background-color: $main-grey !important;
    font-family: 'Source Sans Pro', sans-serif; 
    color:$white;
}

#logo{
    height:5rem;
}

.dropdown-menu{
    background-color: $secondary-grey;
}

.dropdown-item {
    color: $white;
}

.nav-link{
    color: $white !important;

    &:hover{
        color: $orange !important;
    }
}

.navbar-text {
    color: $white !important;
} 

.navbar-toggler {
    border-color:$orange !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ff5e3a' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

///////////////////////////////////////////////////////////////////////////////////
//CARD STYLES
///////////////////////////////////////////////////////////////////////////////////

.card {
    border:none;

    &-header{
        background-color: $secondary-grey;
        border-bottom: 1px solid $orange; 
    }

    &-body{
        background-color: $secondary-grey;
    }
}

input[type=date] {
    font-family: inherit;
    width: 100%;
    font-family:  inherit;
    text-transform: uppercase;
    background-color: $main-grey;
    outline: none;
    border:  none;
    border-radius: 3px;
    padding: 0 3px;
    color: $white;  
  }

 .card-add {
    height: 100% !important;
}

.card-header {
    font-weight: 600;
}

.list-group-item {
    background-color: $secondary-grey;
    border: 1px solid $white;
}

///////////////////////////////////////////////////////////////////////////////////
//ALERT STYLES
///////////////////////////////////////////////////////////////////////////////////

.alert-primary, .alert-warning {
    background-color: $secondary-grey;
    border: 1px solid $orange;
    color:$white;
}

///////////////////////////////////////////////////////////////////////////////////
//BUTTON STYLES
///////////////////////////////////////////////////////////////////////////////////
  
.btn-outline-primary, .btn-outline-dark, .btn-outline-secondary, .btn-primary {
    background:transparent;
    border-color: $white;
    color: $white;

    &:hover {
        border-color: $orange;
        color: $orange;
        background: transparent;
    }
}

.btn.btn-secondary {

    background-color: $main-grey !important;
    border-color: transparent !important;

    &.active{
        background-color: $orange !important;
        border-color: transparent !important;
    }

}

///////////////////////////////////////////////////////////////////////////////////
//FORM STYLES
///////////////////////////////////////////////////////////////////////////////////

.form-control {
    border: 1px solid $white;
    color: $white;
    background-color: $secondary-grey;
    -webkit-tap-highlight-color: $secondary-grey;
    margin-bottom:3px;


    &:focus{
        background-color: $main-grey;
        color: $white;
        border: 2px solid $orange;
    }
}

.input-group-text {
    color:$white;
    background-color:$secondary-grey;

    &:hover{
        background-color: $main-grey;
        color:$orange;
    }
}

///////////////////////////////////////////////////////////////////////////////////
//RANGE STYLES
///////////////////////////////////////////////////////////////////////////////////

input[type=range]::-webkit-slider-thumb {
    background: $orange;
  }

input[type=range]::-moz-range-thumb{
background: $orange;
}

input[type=range]::-ms-thumb {
background: $orange;
}


.badge-secondary {
    color: $white;
    background-color: $main-grey;
    font-size: 1rem;
    @media (min-width: 768px){

        height:50%;
        padding:7px;
    }
}

//GRID STYLES

.add-pic {
    @media(min-width: 768px){
        padding-right:0 !important;
    }
}

.add-exe {
    @media(min-width: 768px){
        padding-left:0 !important;   
    }
}

