<div class="row">
  <div class="col-md-12">
    <form  #signupForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="exeName">Exercise Name</label>
          <input type="text" class="form-control" id="exeName" placeholder="Enter exercise"  [(ngModel)]="exe1" name="exe1">
          <small id="emailHelp" class="form-text text-muted">Start by selecting an exercise</small>
        </div>
        <button type="submit" class="btn btn-primary">Get insights</button>
      </form>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
      <div [ngStyle]="{'display': dates ? block : hidden}">
          <canvas id="myChart" width="100" height="100"></canvas>
          </div>
  </div>
</div>
